:root {
  --white: #fff;
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);

  --fuente: "Outfit", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* Light background for the page */
  background-color: var(--slate300);
  font-family: var(--fuente);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  text-align: center;
}

.main {
  flex: 1;
  display: flex;
  align-items: center;
}
.card {
  background-color: var(--white);
  max-width: 300px;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}
.card__img img {
  max-width: 100%;
  border-radius: 8px;
}

.card__text {
  padding: 0 10px;
}
.card__text h2 {
  font-size: larger;
  font-weight: 700;
  margin: 15px 0 0 0;
  color: var(--slate900);
}
.card__text p {
  font-weight: 400;
  margin: 30px 0;
  font-size: 15px;
  color: var(--slate500);
}
.footer {
  width: 100%;
  padding: 20px;
}
